.mission-section {
  background: #ffffff;
  padding-top: 90px;
  padding-bottom: 90px;
}

/* SUBTITLE */
.mission-subtitle {
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 700;
  /* color: rgb(34, 191, 30); */
  color: #000;
 
}

/* MAIN TITLE */
.mission-title {
  font-size: 36px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 15px;
  /* color: #1a1a1a; */
   background: linear-gradient(135deg, #22bf1e 0%, #00ffc8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* DESCRIPTION UNDER TITLE */
.mission-description {
  font-size: 17px;
  color: #555;
  max-width: 700px;
  margin: 0 auto;
}

/* VALUE CARD */
.mission-card {
  /* background: linear-gradient(135deg, #f5faff, #e5e5e5); */
  background: linear-gradient(135deg, #f5faff, #dff5de);
  padding: 30px 20px;
  border-radius: 14px;
  text-align: center;
  transition: all 0.35s ease;
  border: 1px solid #e8f1ff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);
}

.mission-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.06);
}

/* ICON */
.mission-icon {
  font-size: 40px;
  margin-bottom: 15px;
  animation: iconFloat 3s ease-in-out infinite;
}

@keyframes iconFloat {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

/* CARD TITLE */
.mission-card-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
  color: rgb(34, 191, 30);
}

/* CARD TEXT */
.mission-card-text {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .mission-title {
    font-size: 28px;
  }
}
@media (max-width: 320px) {
  .mission-title {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .mission-title {
    font-size: 32px;
  }
  .mission-description {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .mission-card-title {
    font-size: 25px;
  }
}

@media (max-width: 576px) {
  .mission-card-title {
    font-size: 23px;
  }
}
@media (max-width: 992px) {
  .mission-card-title {
    font-size: 23px;
  }
}
